version: "3.9"

services:
  backend:
    container_name: marmita-backend
    build: ./backend
    env_file:
      - .env
    restart: always

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.marmita-api.rule=Host(`marmita-da-cida.timatech.com.br`) && PathPrefix(`/api`)"
      - "traefik.http.routers.marmita-api.entrypoints=websecure"
      - "traefik.http.routers.marmita-api.tls.certresolver=le"
      - "traefik.http.services.marmita-api.loadbalancer.server.port=3000"

    networks:
      - infra

  frontend:
    container_name: marmita-frontend
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    restart: always

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.marmita-front.rule=Host(`marmita-da-cida.timatech.com.br`)"
      - "traefik.http.routers.marmita-front.entrypoints=websecure"
      - "traefik.http.routers.marmita-front.tls.certresolver=le"
      - "traefik.http.services.marmita-front.loadbalancer.server.port=80"

    networks:
      - infra

networks:
  infra:
    external: true
    name: infra_default
